@media (max-width: 1280px) {

    .header {
        height: 70px;
        padding: 8px 14px;
    }

    .logo img {
        height: 75px;
    }

    .menu,
    .btn-header {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu-mobile {
        display: block;
        background: none;
        border: none;
        color: #FFD700;
        font-size: 33px;
        cursor: pointer;
    }

    .menu-mobile::before {
        content: "☰";
    }

    .menu-mobile.ativo::before {
        content: "✕";
    }

    .menu.ativo {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 57px;
        left: 0;
        width: 100%;

        background: #0c0c0c;
        padding: 20px;
        z-index: 999;
    }

    .menu.ativo a {
        color: #ffffff;
        text-decoration: none;
        padding: 3px 0;
        border-bottom: 1px solid #151515;
    }

    .prova-social {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2px;
        padding: 6px 2x;
    }

    .prova-social div {
        font-size: 9px;
        line-height: 1.1;
        text-align: center;
    }

    .icone-principal {
        height: 25px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        min-height: auto;
        padding: 14px 22px 18px;
        background:
            linear-gradient(90deg,
                rgba(0, 0, 0, 0.95) 0%,
                rgba(0, 0, 0, 0.85) 45%,
                rgba(0, 0, 0, 0.75) 100%),
            url("../imagens/mobile-fundo.png") center/cover no-repeat;
    }

    .hero-texto {
        max-width: 1280px;
        order: 1;
        width: 100%;
        text-align: left;
        align-items: flex-start;
        margin-top: 2px;

    }

    .hero-texto h3 {
        font-size: 13px;
        margin-top: 10px;
        color: white;
        text-align: left;
        width: 100%;
        margin-left: 0;
        margin: 0 0 5px 0;

    }

    .hero h3 span {
        color: var(--dourado);
        font-size: 14px;
        margin-top: 0px;
    }


    .hero h1 {
        font-size: 32px;
        line-height: .9;
        max-width: 260px;
        margin-bottom: 9px;
        text-align: left;
        margin: 0 0 6px 0;
    }

    .hero h1 span {
        display: block;
        font-size: 26.8px;
        margin: 2px 0 0 0;
        text-align: left;
    }

    .hero h2 {
        font-size: 30px;
        line-height: .9;
        max-width: 700px;
        margin: 0 0 6px 0;
        text-align: left;
        width: 100%;
        margin-left: 0;

    }

    .hero h2 span {
        font-size: 64px;
        display: block;
        margin: 2px 0 0 0;
    }

    .dourado {
        font-size: 32px;
        font-size: left;
        margin-top: 3px;
    }

    .hero .destaque {
        display: inline-block;
        padding: 8px 12px;
        line-height: 1.1;
        border-radius: 8px;
        max-width: 259px;
        margin: 4px 0 14px 0;
    }

    .hero p {
        font-size: 12px;
        line-height: 1.1;
        color: #222121;
        margin: 0;

    }

    .hero-oferta {
        order: 3;
        width: 100%;
        margin: 2px 0;
        padding: 12px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-oferta p,
    .hero-oferta span,
    .hero-oferta small {
        font-size: 13px;
        margin: 0;
        line-height: 1.2;
        text-align: center;
        color: #ffffff;
    }

    .hero-oferta h3 {
        font-size: 36px;
        margin: 6px 0;
        line-height: 1;
        text-align: center;
        color: var(--dourado)
    }

    .oferta-btn,
    .btn-principal {
        width: 100%;
        padding: 4px;
        font-size: 13px;
        margin-top: 7px;
        text-align: center;
        align-items: center;
    }

    .seguro {
        margin-top: 6px !important;
        font-size: 13px !important;
        text-align: center;
        color: #888 !important;
    }

    .beneficios-rapidos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px 2px;
        margin-top: 2px;
    }

    .beneficios-rapidos>div {
        display: flex;
        align-items: center;
        gap: 4px;
        background: none;
        border: none;
        padding: 0;
        margin-top: 10px;
    }

    .icone {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        margin-left: 3px;
    }

    .beneficios-rapidos strong {
        display: block;
        font-size: 14px;
        line-height: .95;
        margin-bottom: 2px;
        gap: 8px 4px;
        margin: 0 0 1px 0;
    }

    .beneficios-rapidos span {
        display: block;
        font-size: 12px;
        line-height: 1;
        gap: 8px 4px;
        margin: 0;
    }

    section {
        padding: 34px 14px;
    }

    section h2 {
        font-size: 19px;
        line-height: 1.15;
        margin-bottom: 22px;
    }


    .cards {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        display: grid;
        width: 100%;

    }

    .ultimo-card {
        grid-column: 1 / -1;
        justify-self: center;
        max-width: 250px;
    }

    .cards-resultados {
        padding: 1px;
    }

    .card {
        padding: 4px;
    }

    .card span {
        font-size: 14px;
    }

    .card .icone-card {
        width: 42px;
    }

    .card-resultados {
        padding: 12px;
        display: flex;
        align-items: center;
        gap: 12px;
        text-align: left;
    }

    .card-resultados .conteudo-card {
        width: 95px;
        height: 95px;
        object-fit: cover;
        border-radius: 8px;
        flex-shrink: 0;
    }

    .texto-card {
        flex: 1;
    }

    .card-resultados h3 {
        font-size: 18px;
        margin: 0 0 5px 0;
        line-height: 1.1;
    }

    .card-resultados p {
        font-size: 14px;
        line-height: 1.25;
        margin: 0;
    }

    .foto-professora {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .professora-foto img {
        width: 60px;
        height: auto;
    }

    .professora {
        display: flex;
        flex-direction: column;
        gap: 18px
    }

    .professora h2,
    .professora h3 {
        text-align: center;
        margin-bottom: 6px;
    }

    .professora h3 {
        font-size: 28px;

    }

    .professora p {
        font-size: 14px;

    }

    .oferta h2,
    .oferta p {
        font-size: 20px;


    }

    .oferta h3 {
        font-size: 45px;
    }

    .oferta .btn-principal {
        width: 100%;
        padding-top: 0px;
        font-size: 15px;
        padding: 10px;

    }

    .oferta .cadeado {
        width: 25px;
        padding-top: 0px;
    }

    .pergunta {
        max-width: 100%;
        margin: 10px auto;
        padding: 16px 14px;
        border-radius: 8px;
        font-size: 13px;
        line-height: 1.3;
    }

    .pergunta:hover {
        transform: none;
    }

    .pergunta:active {
        transform: scale(.98);
    }

    .resposta {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height .3s ease, opacity .3s ease;
    }

    .pergunta.ativa .resposta {
        max-height: 200px;
        opacity: 1;
    }
}